@font-face {
    font-family: 'Inter', sans-serif;
    src: local(Inter-VariableFont) url('../../public/Fonts/Inter-VariableFont.woff2') format('woff2'),
         local(Inter-VariableFont) url('../../public/Fonts/Inter-VariableFont.ttf') format('ttf'),
         local(Inter-VariableFont) url('../../public/Fonts/Inter-VariableFont.woff2') format('truetype'),
         local(Inter-VariableFont) url('../../public/Fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: 200 900;
    font-stretch: 100%;
    /* for ie and safari */
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-feature-settings: normal;
}

/* get the font */
html, body {
    font-family: 'Inter', sans-serif !important;
}

/* sections */
main { position: relative }

.sectionNormal, .sectionNormal2 {
    min-height: calc(100vh - 375px);
    height: 100%;
}

@media screen and (max-width: 767px) {
    .sectionNormal2 {
        min-height: 100dvh !important;
        min-height: 100vh;
    }
}

/* analytics */
.Analytics {
    min-height: calc(100dvh) !important;
    min-height: calc(100vh);
}

/* about */
.tondo {
    border-radius: 50%;
    width: 53px;
    height: 100%;
}

/* navbar styles */
:root {
    --animation-delay: 100ms;
    --animation-name: fade-in;
    --fill-mode: cubic-bezier(0.100, 0.850, 0.300, 1.150);
}
  
@media screen and (min-width: 768px) {
    .hamburger { display: none !important }
    .navbar, .navbar .contenitore, .fullata { display: flex !important; width: fit-content !important}
    .navbar ul { flex-direction: row !important }
}

.imageLogo {
    border-radius: 50%;
    width: 43px;
    height: 43px;
    background-position: center;
    object-fit: cover;
    -o-object-fit: cover;
}
  
ul li:nth-child(1) { animation-delay: var(--animation-delay) !important }
ul li:nth-child(2) { animation-delay: calc(var(--animation-delay) * 2) !important }
ul li:nth-child(3) { animation-delay: calc(var(--animation-delay) * 3) !important }
ul li:nth-child(4) { animation-delay: calc(var(--animation-delay) * 4) !important }
ul li:nth-child(5) { animation-delay: calc(var(--animation-delay) * 5) !important }
  
@media screen and (max-width: 767px) {
    .nav-item {
        display: none;
        opacity: 0;
        visibility: hidden;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
}
  
.nav-item.active {
    /* animations */
    animation: fade-in calc(var(--animation-delay)*3.3) var(--fill-mode) forwards;
    animation-name: fade-in;
    animation-duration: calc(var(--animation-delay)*3.3);
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: var(--fill-mode);
      -webkit-animation: fade-in calc(var(--animation-delay)*3.3) var(--fill-mode) forwards;
      -webkit-animation-name: fade-in;
      -webkit-animation-direction: normal;
      -webkit-animation-fill-mode: forwards;
      -webkit-animation-duration: calc(var(--animation-delay)*3.3);
      -webkit-animation-timing-function: var(--fill-mode);
        -moz-animation: fade-in calc(var(--animation-delay)*3.3) var(--fill-mode) forwards;
        -moz-animation-direction: normal;
        -moz-animation-name: fade-in;
        -moz-animation-duration: calc(var(--animation-delay)*3.3);
        -moz-animation-timing-function: var(--fill-mode);
    /* displays */
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    backface-visibility: visible;
        -webkit-backface-visibility: visible;
}
  
@keyframes fade-in { 
0% { opacity: 0; transform: translateY(-33.3%); -webkit-transform: translateY(-33.3%);}
100% { opacity: 1; transform: translateY(0%); -webkit-transform: translateY(0%);} }
@-webkit-keyframes fade-in {
0% { opacity: 0; transform: translateY(-33.3%); -webkit-transform: translateY(-33.3%);}
100% { opacity: 1; transform: translateY(0%); -webkit-transform: translateY(0%);} }
@-moz-keyframes fade-in {
0% { opacity: 0; transform: translateY(-33.3%); -webkit-transform: translateY(-33.3%);}
100% { opacity: 1; transform: translateY(0%); -webkit-transform: translateY(0%);} }
@-o-keyframes fade-in {
0% { opacity: 0; transform: translateY(-33.3%); -webkit-transform: translateY(-33.3%);}
100% { opacity: 1; transform: translateY(0%); -webkit-transform: translateY(0%);} }

/* hamburger close icon */
.Open, .Close { display: none }
.active { display: flex !important }
/* second toggle */
.Closing { display: none }
/* end navbar styles */
/* other states */
.hamburger { transition: 0ms } 

/* analytics */
.gif-disabled:hover { animation: pulse 1.5s cubic-bezier(0.1, 1, .125, .75) }
@keyframes pulse {
    0% { transform: scale(1) }
    47% {
        transform: scale(1.04);
        background-color: red;
        padding: 12px;
        border-radius: 8px;
    }
    53% {
        transform: scale(1.12);
        background-color: red;
        padding: 12px;
        border-radius: 8px;
    }
    100% { transform: scale(1) }
}

/* title hover */
.tags { display: inline; position: relative }
.tags:hover:after {
    background: #333;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    bottom: -38px;
    color: #fff;
    content: attr(data-gloss);
    left: -14%;
    padding: 5px;
    position: absolute;
    z-index: 98;
    width: 250px;
}
.tags:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 0 8px 8px 8px;
    bottom: -6px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

/* video */
.art-video-player, .art-video-player video {
    width: 650px !important;
    height: 650px !important;
}

@media screen and (max-width: 685px) {
    .art-video-player, .art-video-player video {
        width: 400px !important;
        height: 400px !important;
    }
}
@media screen and (max-width: 445px) {
    .art-video-player, .art-video-player video {
        width: 225px !important;
        height: 300px !important;
    }
}