@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    :root {
        --bd-r: 8px;
        --clr-primary: #22c55e;
        --clr-bg: #44403c;
        --bg-: #E7E5E4;
        --bg-selection: #d4d4d4;
        --font-fam: 'Inter', sans-serif;
    }
    html,body{ font-family: var(--font-fam) !important; text-wrap: balance }
    img,video,picture { image-rendering: optimizeSpeed !important }
    /* For Firefox Browser */
    .scrollbar { scrollbar-width: thin; scrollbar-color: var(--clr-bg) var(--clr-primary) }
    /* For Chrome, EDGE, Opera, Others */
    .scrollbar::-webkit-scrollbar { width: 9px }
    .scrollbar::-webkit-scrollbar-track { background:var(--clr-primary) }
    .scrollbar::-webkit-scrollbar-thumb { background: var(--clr-bg) }
    ::selection { color: var(--clr-bg); background-color: var(--bg-selection) }
    ::-moz-selection { color: var(--clr-bg); background-color: var(--bg-selection) }
    .hamburger { z-index: 9999 !important }
    /** video **/
    .video-gsm, :where(video.video-gsm) { image-rendering: optimizeSpeed }
    .large-video {
        min-width: 1000px !important;
        min-height: 1000px !important;
    }
    .art-video {
        object-fit: cover;
        -o-object-fit: cover;
        background-position: center;
        background-clip: content-box;
        background-size: cover;
    }
    .dNone { display: none !important }
    .video-gsm .art-video-player, .video-gsm .art-video-player video { margin-left: auto; margin-right: auto }
    @media screen and (min-width: 979px) {
        .video-gsm, :where(video.video-gsm) {
            min-width: 710px !important;
            margin: 2rem auto;
        } /* [top-layer] > div { height: calc(var(--_misure) - 150px) !important; } */
        .container.responsive, .video-gsm {
            min-height: 450px !important;  /* default value */
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    /** IMPORTANT FOR VIDEO LARGE DEVICES **/
    @media screen and (min-width: 1750px) and (max-width: 9998px) {
        .art-video-player, .art-video-player video  {
            --_misure: 800px !important;
            max-width: var(--_misure) !important;
            margin: auto;
        }
    }
    @media screen and (max-width: 451px) { .video-gsm, :where(video.video-gsm) { max-width: 325px !important } }
    nav ul, body:not(.ribbon-navbar-mobile, .ribbon-navbar-mobile > *, .modal), .fullata { z-index: 9999 !important }
}