@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    :root {
        --bd-r: 8px;
        --clr-primary: #22c55e;
        --clr-bg: #44403c;
        --bg-: #E7E5E4;
        --font-fam-monaSans: 'Mona Sans'
    }

    html,body{ font-family: var(--font-fam-monaSans); font-feature-settings: unset !important; size-adjust: 100% }
    /* For Firefox Browser */
    .scrollbar { scrollbar-width: thin; scrollbar-color: var(--clr-bg) var(--clr-primary) }
    /* For Chrome, EDGE, Opera, Others */
    .scrollbar::-webkit-scrollbar { width: 9px }
    .scrollbar::-webkit-scrollbar-track { background:var(--clr-primary) }
    .scrollbar::-webkit-scrollbar-thumb { background: var(--clr-bg) }
    ::selection { color: var(--clr-primary); background-color: var(--bg-white) }
    ::-moz-selection { color: var(--clr-primary); background-color: var(--bg-) }

    /* local woff2*/
    @font-face {
        font-family: var(--font-fam-monaSans);  
        src:
        url('../../public/Fonts/Mona-Sans.woff2') format('woff2 supports variations'),
        url('../../public/Fonts/Mona-Sans.woff2') format('woff2-variations');
        font-weight: 200 700;
        font-stretch: 75% 125%;
    }
    /* local woff */
    @font-face {
        font-family: var(--font-fam-monaSans);  
        src:
        url('../../public/Fonts/Mona-Sans.woff') format('woff supports variations'),
        url('../../public/Fonts/Mona-Sans.woff') format('woff-variations');
        font-weight: 200 700;
        font-stretch: 75% 125%;
    }
    /* local ttf */
    @font-face {
        font-family: var(--font-fam-monaSans);  
        src:
        url('../../public/Fonts/Mona-Sans.ttf') format('ttf supports variations'),
        url('../../public/Fonts/Mona-Sans.ttf') format('ttf-variations');
        font-weight: 200 700;
        font-stretch: 75% 125%;
    }
}